@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #FEFEF2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FEFEF2;
  }
}

body {

  background: var(--background);
  font-family: 'Josefin Sans', sans-serif;
  
}

h1,
h2,
h3 {
  font-family: 'Josefin Sans', sans-serif;
color:#343067;
}
