@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Camelia';
  src: url('/fonts/Camelia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Charlie';
  src: url('/fonts/CharlieFawnDemoRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'The Shyte';
  src: url('/fonts/the-shyte.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lutoriaserif';
  src: url('/fonts/lutoriaserifblack-xgv2g.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lutoria';
  src: url('/fonts/lutoriaserifthin-lvpw3.ttf') format ('truetype');
font-weight: normal;
font-style: normal ;
}
:root {
  --background: #FEFEF2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FEFEF2;
  }
}
*, button, link {
  cursor: none; /* Skjul standard markør på hele sitet */
}
body {

  background: var(--background);
  
  
}
 #home-page {
  background-color: #343067 ;
  min-height: 100vh; /* Sørg for, at det dækker hele højden af siden */
  display: flex;
  flex-direction: column;
}
#home-page h1 {
  color: #FEFEF2 ;
}
h1 {
  font-family: 'The Shyte';
color:#343067;
}
h3  {
  font-family: 'Camelia';
}

p {
  font-family: 'Josefin Sans';
 
}
.intro-screen {
  width: 100%;
  height: 200vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro-screen__titel {
  height: 100vh;
  width: 100%;
  display: block;
  position: relative;
  background-color: #343067;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.intro-screen__shape {
  width: 100%;
  position: relative;
}

.shape {
  height: 100vh;
  width: 100%;
  display: block;
  fill: #343067;
}


